.main-container{
    position: relative;
    background-image: url('../assets/img/videoblocks-school-board-chalk-text_hchp-cjtl_thumbnail-full01.png');
    background-repeat: no-repeat;
    height:938px;
    max-width:100%;
    overflow: hidden;
    background-size: cover;
    background-position: left;
  
    @media (max-width: 991.98px) { 
        height:723px; 
     }
    @media (max-width: 767.98px) {
        font-size: 2rem;
        height:700px;
     }
     @media (max-width: 575.98px) {
        font-size: 1.2rem;
        margin:2px auto;
        height:600px;
     }
  
}
.answerContainer{
    margin:50px auto;
    height: 90px;
    font-size: 3rem;
    text-align: center;
    color: $color-primary;

    @media (max-width: 767.98px) {
        font-size: 2rem;
     }
     @media (max-width: 575.98px) {
        font-size: 1.2rem;
        margin:2px auto;
     }
}

.message {
    color: $color-back;
    font-size: 3rem;
    text-align: center;
    height: 105px;
    width: 400px;
    margin: 50px auto;
    @media (max-width: 767.98px) {
        font-size: 2rem;
        width: 300px;
     }
     @media (max-width: 575.98px) {
        font-size: 1.3rem;
        width: 200px;
        height: 55px;
     }

    &-icon{
        display: inline-block;
        margin-right: 10px;
        font-size: 5rem;
    }

}
.blink{
    height: 50px;
    margin-bottom: 30px;
}


.none{
    display: none;
}

@keyframes blinking{
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}
