.main-container{
    position: relative;
    background-image: url('../assets/img/videoblocks-school-board-chalk-text_hchp-cjtl_thumbnail-full01.png');
    background-repeat: no-repeat;
    height: 900px;
    width:99%;
    background-size: cover;
    background-position: center;
}
.answerContainer{
    margin:50px auto;
    height: 50px;
    font-size: 3rem;
    text-align: center;
    color: $color-primary;
}



.message {
    color: $color-back;
    font-size: 3rem;
    text-align: center;
    height: 65px;
    width: 400px;
    margin: 50px auto;

    &-icon{
        display: inline-block;
        margin-right: 10px;
        font-size: 5rem;
    }

}
.none{
    display: none;
}
