text {
    font-family: sans-serif;
  
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
  
    -webkit-animation: draw 8s forwards;
       -moz-animation: draw 8s forwards;
         -o-animation: draw 8s forwards;
        -ms-animation: draw 8s forwards;
            animation: draw 8s forwards;
  }
  
  @-webkit-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-moz-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-o-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-ms-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }