.intro-container{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    color: white;
    font-size: 3rem;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.856);
    margin: 0 auto;
    padding: 100px 200px;
    z-index: 91;

    @media (max-width: 767.98px) {
        font-size: 2rem;
        padding: 50px 100px;
        h1{
            font-size: 2rem;
        }
     }
     @media (max-width: 575.98px) {
        font-size: 1.5rem;
        padding: 25px 50px;
        h1{
            font-size: 1.5rem;
        }
     }
}