@font-face {
  font-family: 'IMMORTAL';
  src: local("IMMORTAL"), url(../assets/fonts/IMMORTAL.ttf) format("woff"); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'IMMORTAL', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: white; }

/* 
////////////////PRE SET/////////////////////////// */
.btnMy {
  position: absolute;
  bottom: -4%;
  left: 60%;
  border: 1px dashed white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.26);
  color: white;
  font-size: 2.3rem;
  width: 150px;
  padding: 5px;
  transform: rotate(330deg);
  transition: all 0.5s;
  z-index: 89; }
  @media (max-width: 991.98px) {
    .btnMy {
      bottom: -4%;
      left: 50%; } }
  @media (max-width: 767.98px) {
    .btnMy {
      font-size: 2rem;
      bottom: -15%;
      left: 30%; } }
  @media (max-width: 575.98px) {
    .btnMy {
      bottom: -20%;
      transform: rotate(0deg);
      left: 0%; } }
  .btnMy-intro {
    width: 150px;
    height: 90px;
    top: 50%;
    right: 10%; }
  .btnMy:hover {
    opacity: 0.7; }

.slova {
  background-color: transparent;
  color: #f2f2f2;
  font-size: 2rem;
  border-radius: 20%;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  padding: 2px; }
  @media (max-width: 767.98px) {
    .slova {
      font-size: 1.4rem;
      width: 40px;
      height: 40px; } }
  @media (max-width: 575.98px) {
    .slova {
      font-size: 1rem;
      width: 30px;
      height: 30px; } }
  .slova:hover {
    background-color: #ada3a3; }

.used {
  opacity: 0.2;
  background-color: transparent;
  color: #ada3a3;
  font-size: 2rem;
  border-radius: 20%;
  width: 50px;
  height: 50px;
  padding: 2px; }
  @media (max-width: 767.98px) {
    .used {
      font-size: 1.4rem;
      width: 40px;
      height: 40px; } }
  @media (max-width: 575.98px) {
    .used {
      font-size: 1rem;
      width: 30px;
      height: 30px; } }

.container-btnLetters {
  min-width: 90%;
  min-height: 120px;
  padding: 20px 30px;
  margin: 20px auto;
  text-align: center; }
  @media (max-width: 575.98px) {
    .container-btnLetters {
      margin: 2px auto; } }

.test {
  margin-top: -100px;
  width: 300px;
  height: 100px; }

.main-container {
  position: relative;
  background-image: url("../assets/img/videoblocks-school-board-chalk-text_hchp-cjtl_thumbnail-full01.png");
  background-repeat: no-repeat;
  height: 938px;
  max-width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: left; }
  @media (max-width: 991.98px) {
    .main-container {
      height: 723px; } }
  @media (max-width: 767.98px) {
    .main-container {
      font-size: 2rem;
      height: 700px; } }
  @media (max-width: 575.98px) {
    .main-container {
      font-size: 1.2rem;
      margin: 2px auto;
      height: 600px; } }

.answerContainer {
  margin: 50px auto;
  height: 90px;
  font-size: 3rem;
  text-align: center;
  color: #f2f2f2; }
  @media (max-width: 767.98px) {
    .answerContainer {
      font-size: 2rem; } }
  @media (max-width: 575.98px) {
    .answerContainer {
      font-size: 1.2rem;
      margin: 2px auto; } }

.message {
  color: #f2f2f2;
  font-size: 3rem;
  text-align: center;
  height: 105px;
  width: 400px;
  margin: 50px auto; }
  @media (max-width: 767.98px) {
    .message {
      font-size: 2rem;
      width: 300px; } }
  @media (max-width: 575.98px) {
    .message {
      font-size: 1.3rem;
      width: 200px;
      height: 55px; } }
  .message-icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 5rem; }

.blink {
  height: 50px;
  margin-bottom: 30px; }

.none {
  display: none; }

@keyframes blinking {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

.container-crtice {
  height: 60px;
  width: 90%;
  text-align: center;
  margin: 0 auto; }

.crtice {
  display: inline-block;
  animation-name: pojavljivanje;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  width: 10%; }
  @media (max-width: 767.98px) {
    .crtice {
      font-size: 2rem;
      letter-spacing: 0.6rem; } }
  @media (max-width: 575.98px) {
    .crtice {
      font-size: 1rem;
      letter-spacing: 0.3rem; } }

.letters {
  color: #f2f2f2;
  font-size: 1.3rem; }
  .letters-zagonetka {
    color: #f2f2f2;
    font-size: 4rem;
    letter-spacing: 1rem; }

.under-container {
  margin-top: -57px;
  height: 10px; }
  @media (max-width: 767.98px) {
    .under-container {
      margin-top: -37px; } }
  @media (max-width: 575.98px) {
    .under-container {
      margin-top: -30px; } }

.under {
  display: inline-block;
  animation-name: pojavljivanje;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  width: 10%;
  height: 10px;
  color: white;
  font-size: 4rem;
  letter-spacing: 1rem; }
  @media (max-width: 767.98px) {
    .under {
      font-size: 2rem;
      letter-spacing: 0.6rem; } }
  @media (max-width: 575.98px) {
    .under {
      font-size: 1rem;
      letter-spacing: 0.3rem; } }

.intro-container {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  color: white;
  font-size: 3rem;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.856);
  margin: 0 auto;
  padding: 100px 200px;
  z-index: 91; }
  @media (max-width: 767.98px) {
    .intro-container {
      font-size: 2rem;
      padding: 50px 100px; }
      .intro-container h1 {
        font-size: 2rem; } }
  @media (max-width: 575.98px) {
    .intro-container {
      font-size: 1.5rem;
      padding: 25px 50px; }
      .intro-container h1 {
        font-size: 1.5rem; } }

.canvas {
  width: 100%;
  height: 100%; }
  @media (max-width: 767.98px) {
    .canvas {
      margin-right: 40px; } }
  @media (max-width: 575.98px) {
    .canvas {
      margin-right: 5px; } }
  .canvas-container {
    margin-right: 40px;
    height: 600px;
    width: 400px; }
    @media (max-width: 767.98px) {
      .canvas-container {
        height: 400px;
        width: 266.66666px;
        margin-right: 10px; } }
    @media (max-width: 575.98px) {
      .canvas-container {
        height: 300px;
        width: 200px;
        margin-right: 10px; } }
